.vr{
    display: flex;
    flex-direction: row ;
}

.sidebar{
    font-family:"Roboto";
    color:black;
    /* background-color: hsl(202, 69%, 64%); */
    background-color: rgba(68,123,4,0.4);
    /* color: #0277BD; */
    flex:0.15;
    height:100vh;
    border-right: 2px solid #0277BD;
}
.sidebar > p{
    padding: 10px;
    border-bottom: 2px solid #0277BD;
}
.right{
    padding:2px;
    flex:0.85;
    height:100vh;
}